function Main.main 0
call Screen.clearScreen 0
pop temp 0
push constant 50
call Sys.wait 1
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 10
pop static 0
push constant 5
pop static 1
push static 0
push static 1
call Screen.drawPixel 2
pop temp 0
push constant 50
call Sys.wait 1
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 12
pop static 0
push constant 5
pop static 1
push static 0
push static 1
call Screen.drawPixel 2
pop temp 0
push constant 50
call Sys.wait 1
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 20
push constant 10
push constant 40
push constant 10
call Screen.drawLine 4
pop temp 0
push constant 50
call Sys.wait 1
pop temp 0
push constant 50
push constant 5
push constant 50
push constant 20
call Screen.drawLine 4
pop temp 0
push constant 50
call Sys.wait 1
pop temp 0
push constant 60
push constant 5
push constant 70
push constant 15
call Screen.drawLine 4
pop temp 0
push constant 50
call Sys.wait 1
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 5
push constant 20
push constant 15
push constant 25
call Screen.drawRectangle 4
pop temp 0
push constant 50
call Sys.wait 1
pop temp 0
push constant 80
push constant 50
push constant 10
call Screen.drawCircle 3
pop temp 0
push constant 50
call Sys.wait 1
pop temp 0
push constant 0
return
